/* 
   Jatsby Framework v0.7.2 RC1
   Originally Released October 22, 2014 
   under the MIT License
   Updated February 8, 2015
   Copyright 2015 Jatsby 
   https://jatsby.com/
*/



/*=======================================*/
/*                Imports                */
/*=======================================*/
/* Import fonts, CSS files here          */
/*=======================================*/

@charset "UTF-8";

/* Aileron 100-900; normal, italic */
@import url("fonts/aileron.css");

/* Bebas Neue 100-900; normal, italic */
@import url("fonts/bebasNeue.css");

/* Lobster 400; normal */
@import url("https://fonts.googleapis.com/css?family=Lobster");

/* Lato 100-900; normal, italic */
@import url("https://fonts.googleapis.com/css?family=Lato");

/* Mohave 400, 600, 700; normal, italic */
@import url("fonts/mohave.css");

/* Montserrat 400, 700; normal */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/* Simplifica 400; normal */
@import url("fonts/simplifica.css");

/* Source Sans Pro 200-400, 600, 700, 900; normal, italic */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic");


/*=======================================*/
/*                 Reset                 */
/*=======================================*/
/* Simple reset parameters               */
/* Also for custom global declarations   */
/* (ie, ".roboto" for                    */
/* font-family:Roboto;)                  */
/*=======================================*/

*	{
	padding: 0;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/* a */
	text-decoration: none;
	color: inherit;
	line-height: normal;
	/* Breakpoint Transition Effects */
	-webkit-transition-duration:0.5s;
	-webkit-transform: rotate3d(0,0,0);
	/* FireFox */
	-moz-transition-duration: 0.5s;
	-moz-transform: rotate3d(0,0,0);
	/* IE */
	transform: rotate3d(0,0,0);
	transition-duration: 0.5s;
	/* Text Rendering */
	/* Standardizes Lobster */
	text-rendering: geometricPrecision;
}

html	{	
	background-color: #f9f9f9;
}


/*=======================================*/
/*            136 Breakpoint             */
/*=======================================*/
/* 136px- 319px                          */
/* For Smartwatches                      */
/* Watch, Moto 360, etc. (probably)     */
/*=======================================*/

@media (min-width: 136px)	{
	
	.page	{
		background-color: #f9f9f9;	
	}
	
	.header	{
		text-align: center;
		font-family: 'Lobster';
		font-size: 2.5em;
		color: #52D0CD;
		padding-top: 0.25em;
		letter-spacing: -0.02em;
	}
	
	.subheader	{
		text-align: center;
		font-family: 'Montserrat';
		font-size: 1em;
		color:#626262;
		margin-top:1em;
		width: 97%;
	}
	
	.downloadContainer	{
		width: 100%;
		/* Essentially width: intrinsic for FireFox and IE */
		width: -moz-max-content;
		width: fit-content;
		margin-top: 3em;
	}
	
	.downloadButtonontainer	{
		
	}
	
	.download	{
		text-align: center;
		color:#74D8C7;
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 2em;
		border:0.05em solid #626262;
		width: 100%;
		width: -moz-max-content;
		max-width:450px;
		border-radius: 0.05em;
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
		background-color: #f9f9f9;
		color:#52D0CD;
		padding-top: 0.15em;
		padding-bottom: 0.15em;
		background-color: #52D0CD;
		color: #626262;
		border:0;
	}

	.subtitle	{
		text-align: center;
		font-family: 'Montserrat';
		font-size: 1em;
		margin-top: 0.5em;
		color:#626262;
		background-color: #f9f9f9;
		z-index:999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0em;
		position: relative;
		padding-left: 0.4em;
		padding-right: 0.4em;
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
	}
	
	.subtitleLine	{
		width:65%;
		max-width: 20em;
		height:0.15em;
		background-color: #626262;
		margin-top: -0.55em;
		position: relative;
		z-index: 1;		
		border-radius: 999em;
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
	}	
	
	.title	{
		text-align: center;
		font-family: 'Montserrat';
		margin-top: 1em;
		color:#626262;
		z-index:999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0em;
		position: relative;
		width: 95%;
		font-size: 1rem;
	}

		
/* With Three CSS Files */
	
	.withFourBreakpoints	{
		/* section container */
		margin-top: 4em;
		margin-bottom: 8em;
	}
	
	.cssLine	{
		width:100%;
		height:0.25em;
		background-color: #626262;
		margin-top: 3em;
		position: relative;
	}
	
	.cssLineLimiter	{
		width: 80%;
		display: block;
		margin:0 auto;
		height:100%;
		position: relative;
	}
	
	.cssBreaks	{
		background-color: #52D0CD;
		border-left:0.1em solid #f9f9f9;
		border-right:0.1em solid #f9f9f9;
		float:left;
		height:3em;
		width:0.25em;
		position: relative;
		height:100%;
		height:1.5em;
		margin-top: -0.6em;		
	}
	
	.cssBreak1	{
		margin-left: 0;
	}
	
	.cssBreak2	{
		margin-left: 25%;
	}
	
	.cssBreak3	{
		float:right;
		margin-right: 25%;
	}
	
	.cssBreak4	{
		float:right;
	}
	
	.b1Text	{
		font-size: 1em;
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		transform:rotate(-90deg);
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -0.85em;
		margin-top: 3em;
		float:left;
	}
	
	.px	{
		font-size: 0.7em;
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -0.4em;
		margin-top: -3.75em;
		float:left;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform:rotate(0deg);
	}
	
	.b4Text	{
		font-size: 1em;
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		transform:rotate(-90deg);
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -1.05em;
		margin-top: 3.1em;
		float:left;		
	}
	
	.pxPlus	{
		font-size: 0.7em;
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -0.45em;
		float:left;
		margin-top: -3.8em;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);	
	}	


/* Classy Fonts */
	
	.fonts	{
		margin-top: 3em;	
		margin-bottom: 5em;
		width:100%;
	}
	
	.aileron	{
		margin:0 auto;
		font-family: 'Aileron';
		font-size:0.5em;
		margin-bottom: 0.5em;
		color: #52D0CD;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size:1em;
		line-height: 0.3em;
		margin-top: 1.5em;
	}
	
	.aileronLine	{
		width:100%;
		height:0.15em;
		position: absolute;
		background-color: #575757;
		margin-top:-0.65em;
	}
	
	.bebasNeue	{
		margin:0 auto;
		font-family: 'Bebas Neue';	
		font-size:0.5em;
		color: #52D0CD;
		color:#575757;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size:1em;
		margin-bottom: 0.5em;
		line-height: 0.85em;
		margin-top: 1.5em;
	}
	
	.bebasNeueLine	{
		width:100%;
		height: 0.8em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-1.32em;
	}
	
	.lato	{
		margin:0 auto;
		font-family: 'Lato';	
		font-size:0.5em;
		margin-bottom: 0.2em;
		color: #52D0CD;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size:1em;
		margin-bottom: 0.5em;
		line-height: 0.3em;
		margin-top: 1.5em;
	}
	
	.latoLine	{
		width:100%;
		height:0.2em;
		position: absolute;
		background-color: #575757;
		margin-top:-0.75em;
	}
	
	.lobster	{
		margin:0 auto;
		font-family: 'Lobster';	
		font-size:0.5em;
		margin-bottom: 0.25em;
		color: #52D0CD;
		color:#575757;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		text-align: center;
		font-size:1em;
		margin-bottom: 0.5em;
		line-height: 0.5em;
		margin-top: 1.5em;
	}
	
	.lobsterLine	{
		width:100%;
		height:0.3em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-0.8em;
	}
	
	.mohave	{
		margin:0 auto;
		font-family: 'Mohave';	
		font-size:0.5em;
		color: #52D0CD;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		margin-bottom: 0.5em;
		font-size:1em;
		margin-bottom: 0.5em;
		line-height: 1em;
		margin-top: 1.5em;
	}
	
	.mohaveLine	{
		width:100%;
		height:0.8em;
		position: absolute;
		background-color: #575757;
		margin-top:-1.45em;
	}
	
	.montserrat	{
		margin:0 auto;
		font-family: 'Montserrat';	
		font-size:0.5em;
		color: #626262;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		margin-bottom: 0.5em;
		font-size:1em;
		margin-bottom: 0.5em;
		line-height: 0.3em;
		margin-top: 1.5em;
	}
	
	.montserratLine	{
		width:100%;
		height:0.15em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-0.7em;
	}
	
	.simplifica	{
		margin:0 auto;
		font-family: 'Simplifica';	
		font-size:0.5em; 
		color: #52D0CD;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size:1em;
		margin-bottom: 0.5em;
		line-height: 0.5em;
		margin-top: 1.5em;
	}
	
	.simplificaLine	{
		width:100%;
		height:0.1em;
		position: absolute;
		background-color: #575757;
		margin-top:-0.8em;
	}

	.sourceSansPro	{
		margin:0 auto;
		font-family: 'Source Sans Pro';	
		font-size:0.5em; 
		color: #575757;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size:1em;
		margin-bottom: 0.5em;
		line-height: 0.6em;
		margin-top: 1.5em;
	}
	
	.sourceSansProLine	{
		width:100%;
		height:0.1em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-0.8em;
	}
	
	
/* And a 2015 Color Palette */
		
	.andA2015ColorPalette	{
		padding-bottom: 10em;
		-webkit-transform: perspective(200px);
		-moz-transform: perspective(200px);
		transform: perspective(200px);
		/*-webkit-box-shadow: -1px 2px 1px -1px #202020;*/
	}
	
	.colorPalette	{
		width:100%;
		height:6em;
		background-color: inherit;
		margin-top: 4em;
		position: relative;
		overflow: hidden;
		overflow: visible;
		padding-left: 2%;
		padding-right: 2%;
		width:100%;
		padding: 0;
	}
	
	.swatch	{
		width: 12.5%;
		height: 60%;
		top: -1em;
		margin-left: 0em;
		position: relative;
		float:left;
		padding-bottom: 7%;		
	}
	
	.colorLogo	{
		visibility: hidden;
	}

	/* Color Label Row */

	.colorPalette2	{
		background-color: inherit;
		margin-top: 2em;
		position: relative;
		overflow: hidden;
		overflow: visible;
		width:100%;
		padding: 0;
	}
	
	.swatch2	{
		width: 12.5%;
		height: 60%;
		top: -1em;
		margin-left: 0em;
		position: relative;
		float:left;
		padding-bottom: 7%;	
		height: 0;	
	}
	
	.label, .hex	{
		color: rgba(97, 97, 97, 0.9);
		font-family: 'Lato';
		font-size: 0.85em;
		text-align: center;
		overflow: hidden;
		visibility: hidden;
	}
	
	.label	{
		margin-top: 1em;
	}
	
	.hex	{
		font-weight: 700;
		margin-top: 1em;
	}
	
/* red (Roman) */
	
	.color1	{background-color: #E9625B;}

/* orange (Porsche) */
	
	.color2	{background-color: #EB955C;}

/* yellow (Arylide Yellow) */
	
	.color3	{background-color: #EDDE66;}

/* green (Downy) */
	
	.color4	{background-color: #65debe;}

/* blue (Medium Turqouise) */
	
	.color5	{background-color: #4bd0ce;}

/* purple (Orchid) */
	
	.color6	{background-color: #DE83DA;}

/* white (Desert Storm) */
	
	.color7	{background-color: #F9F9F9;}

/* black (Storm Dust) */
	
	.color8	{background-color: #626262;}

		
		
	
/* Footer */	
		
	.footer	{
		font-family: 'Lobster';
		font-size: 1em;
		text-align: center;
		margin-bottom: 1em;
		color:#626262;
		margin-top: -11em;
	}
	
	.newJatsby	{
		font-family: 'Lobster';
		text-align: center;
		font-size: 1em;
		z-index: 999;
		position: relative;
		color:#626262;
		width: intrinsic;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
			
}


/*=======================================*/
/*            320 Breakpoint             */
/*=======================================*/
/* 320px- 599px                          */
/* For small devices                     */
/* iPhone, iPod Touch, Nexus 5           */
/*=======================================*/

@media (min-width: 320px)	{
	
	.page	{
		background-color: #f9f9f9;	
	}
	
	.header	{
		text-align: center;
		font-family: 'Lobster';
		font-size: 3.75em;
		color:#74D8C7;
		color: #52D0CD;
		padding-top: 0.75em;
	}
	
	.css	{
		letter-spacing: -0.05em;
	}
	
	.subheader	{
		text-align: center;
		font-family: 'Montserrat';
		font-size: 1.2em;
		color:#626262;
		margin-top:1em;
		width: 97%;
	}
	
	.downloadContainer	{
		width: intrinsic;
		/* Essentially width: intrinsic for FireFox and IE */
		width: -moz-max-content;
		width: fit-content;
		margin-top: 3em;
	}
	
	.downloadButtonontainer	{
		
	}
	
	.download	{
		text-align: center;
		color:#74D8C7;
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 3.25em;
		border:0.05em solid #626262;
		width: intrinsic;
		width: -moz-max-content;
		max-width:450px;
		border-radius: 0.05em;
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
		background-color: #f9f9f9;
		color:#52D0CD;
		padding-top: 0.15em;
		padding-bottom: 0.15em;
		padding-left: 1em;
		padding-right: 1em;
		background-color: #52D0CD;
		color: #626262;
		border:0;
	}

	.subtitle	{
		text-align: center;
		font-family: 'Montserrat';
		font-size: 1.25em;
		margin-top: 0.5em;
		color:#626262;
		background-color: #f9f9f9;
		z-index:999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0em;
		position: relative;
		padding-left: 0.4em;
		padding-right: 0.4em;
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
	}
	
	.subtitleLine	{
		width:65%;
		max-width: 20em;
		height:0.2em;
		background-color: #626262;
		margin-top: -0.8em;
		position: relative;
		z-index: 1;		
		border-radius: 999em;
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
	}	
	
	.title	{
		text-align: center;
		font-family: 'Montserrat';
		font-size: 1.75em;
		margin-top: 1em;
		color:#626262;
		z-index:999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0em;
		position: relative;
		width: 95%;
		font-size: 1.25rem;
	}

		
/* With Three CSS Files */
	
	.withFourBreakpoints	{
		/* section container */
		margin-top: 7em;
		margin-bottom: 15em;
	}
	
	.cssLine	{
		width:100%;
		height:0.5em;
		background-color: #626262;
		margin-top: 5em;
		position: relative;
	}
	
	.cssLineLimiter	{
		width: 80%;
		display: block;
		margin:0 auto;
		height:100%;
		position: relative;
	}
	
	.cssBreaks	{
		background-color: #52D0CD;
		border-left:0.2em solid #f9f9f9;
		border-right:0.2em solid #f9f9f9;
		float:left;
		height:3em;
		width:0.5em;
		position: relative;
		height:100%;
		height:2.5em;
		margin-top: -1em;		
	}
	
	.cssBreak1	{
		margin-left: 0;
	}
	
	.cssBreak2	{
		margin-left: 25%;
	}
	
	.cssBreak3	{
		float:right;
		margin-right: 25%;
	}
	
	.cssBreak4	{
		float:right;
	}
	
	.b1Text	{
		font-size: 2em;
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		transform:rotate(-90deg);
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -0.95em;
		margin-top: 3em;
		float:left;
	}
	
	.px	{
		font-size: 1.25em;
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -0.45em;
		margin-top: -4.25em;
		float:left;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform:rotate(0deg);
	}
	
	.b4Text	{
		font-size: 2em;
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		transform:rotate(-90deg);
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -1.05em;
		margin-top: 3.1em;
		float:left;		
	}
	
	.pxPlus	{
		font-size: 1.25em;
		font-family: 'Bebas Neue';
		font-family: 'Montserrat';
		color:#626262;
		margin-left: -0.45em;
		float:left;
		margin-top: -4.45em;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);	
	}	


/* Classy Fonts */
	
	.fonts	{
		margin-top: 3em;	
		margin-bottom: 10em;
		width:100%;
	}
	
	.aileron	{
		margin:0 auto;
		font-family: 'Aileron';
		font-size: 2em;
		margin-bottom: 0.5em;
		color: #52D0CD;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size: 2.25em;
		line-height: 0.3em;
		margin-top: 1.5em;
	}
	
	.aileronLine	{
		width:100%;
		height:0.15em;
		position: absolute;
		background-color: #575757;
		margin-top:-1.3em;
	}
	
	.bebasNeue	{
		margin:0 auto;
		font-family: 'Bebas Neue';	
		font-size: 2.25em;
		color: #52D0CD;
		color:#575757;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		line-height: 0.85em;
		margin-top: 1.5em;
	}
	
	.bebasNeueLine	{
		width:100%;
		height: 1.65em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-2.95em;
	}
	
	.lato	{
		margin:0 auto;
		font-family: 'Lato';	
		font-size: 2.25em;
		margin-bottom: 0.2em;
		color: #52D0CD;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		line-height: 0.3em;
		margin-top: 1.5em;
	}
	
	.latoLine	{
		width:100%;
		height:0.25em;
		position: absolute;
		background-color: #575757;
		margin-top:-1.4em;
	}
	
	.lobster	{
		margin:0 auto;
		font-family: 'Lobster';	
		font-size: 2.25em;
		margin-bottom: 0.25em;
		color: #52D0CD;
		color:#575757;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		text-align: center;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		line-height: 0.5em;
		margin-top: 1.5em;
	}
	
	.lobsterLine	{
		width:100%;
		height:0.3em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-1.5em;
	}
	
	.mohave	{
		margin:0 auto;
		font-family: 'Mohave';	
		font-size: 2.25em;
		color: #52D0CD;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		margin-bottom: 0.5em;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		line-height: 1em;
		margin-top: 1.5em;
	}
	
	.mohaveLine	{
		width:100%;
		height:1.85em;
		position: absolute;
		background-color: #575757;
		margin-top: -3.3em;
	}
	
	.montserrat	{
		margin:0 auto;
		font-family: 'Montserrat';	
		font-size: 2.25em;
		color: #626262;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		margin-bottom: 0.5em;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		line-height: 0.3em;
		margin-top: 1.5em;
	}
	
	.montserratLine	{
		width:100%;
		height:0.5em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-1.65em;
	}
	
	.simplifica	{
		margin:0 auto;
		font-family: 'Simplifica';	
		font-size: 2.25em;	
		color: #52D0CD;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		line-height: 0.5em;
		margin-top: 1.5em;
	}
	
	.simplificaLine	{
		width:100%;
		height:0.1em;
		position: absolute;
		background-color: #575757;
		margin-top:-1.7em;
	}

	.sourceSansPro	{
		margin:0 auto;
		font-family: 'Source Sans Pro';	
		font-size: 2.25em;	
		color: #575757;
		text-align: right;
		background-color: #f9f9f9;
		position: relative;
		z-index: 999;
		width: intrinsic;
		width: -moz-max-content;
		width: fit-content;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		line-height: 0.6em;
		margin-top: 1.5em;
	}
	
	.sourceSansProLine	{
		width:100%;
		height:0.3em;
		position: absolute;
		background-color: #52D0CD;
		margin-top:-1.8em;
	}
	
	
/* And a 2015 Color Palette */
		
	.andA2015ColorPalette	{
		padding-bottom: 10em;
		-webkit-transform: perspective(200px);
		-moz-transform: perspective(200px);
		transform: perspective(200px);
		/*-webkit-box-shadow: -1px 2px 1px -1px #202020;*/
	}
	
	.colorPalette	{
		width:100%;
		height:6em;
		background-color: inherit;
		margin-top: 5em;
		position: relative;
		overflow: hidden;
		overflow: visible;
		padding-left: 2%;
		padding-right: 2%;
		width:100%;
		padding: 0;
	}
	
	.swatch	{
		width: 12.5%;
		height: 60%;
		top: -1em;
		margin-left: 0em;
		position: relative;
		float:left;
		padding-bottom: 7%;		
	}
	
	.colorLogo	{
		visibility: hidden;
	}

	/* Color Label Row */

	.colorPalette2	{
		background-color: inherit;
		margin-top: 2em;
		position: relative;
		overflow: hidden;
		overflow: visible;
		width:100%;
		padding: 0;
	}
	
	.swatch2	{
		width: 12.5%;
		height: 60%;
		top: -1em;
		margin-left: 0em;
		position: relative;
		float:left;
		padding-bottom: 7%;	
		height: 0;	
	}
	
	.label, .hex	{
		color: rgba(97, 97, 97, 0.9);
		font-family: 'Lato';
		font-size: 0.85em;
		text-align: center;
		overflow: hidden;
		visibility: hidden;
	}
	
	.label	{
		margin-top: 1em;
	}
	
	.hex	{
		font-weight: 700;
		margin-top: 1em;
	}
	
/* red (Roman) */
	
	.color1	{background-color: #E9625B;}

/* orange (Porsche) */
	
	.color2	{background-color: #EB955C;}

/* yellow (Arylide Yellow) */
	
	.color3	{background-color: #EDDE66;}

/* green (Downy) */
	
	.color4	{background-color: #65debe;}

/* blue (Medium Turqouise) */
	
	.color5	{background-color: #4bd0ce;}

/* purple (Orchid) */
	
	.color6	{background-color: #DE83DA;}

/* white (Desert Storm) */
	
	.color7	{background-color: #F9F9F9;}

/* black (Storm Dust) */
	
	.color8	{background-color: #626262;}

		
		
	
/* Footer */	
		
	.footer	{
		font-family: 'Lobster';
		font-size: 1em;
		text-align: center;
		margin-bottom: 1em;
		color:#626262;
		margin-top: -4em;
	}
	
	.newJatsby	{
		font-family: 'Lobster';
		text-align: center;
		font-size: 1.5em;
		z-index: 999;
		position: relative;
		color:#626262;
		width: intrinsic;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
			
}


/*=======================================*/
/*            600 Breakpoint             */
/*=======================================*/
/* 600px- 899px                          */
/* For tablets in portrait               */
/* iPad, Nexus 7, Nexus 10               */
/*=======================================*/

@media (min-width: 600px)	{

	.header	{
		font-size: 4.5em;
		padding-top: 0.75em;
	}
	
	.subheader	{
		font-size: 1.75em;
		margin-top:1em;
	}
	
	.subtitle	{
		margin-top: 0.5em;
	}
	
	.title	{
		font-size: 1.5em;
	}
	
	.swatch2	{
		height: auto;
	}
	
	.label, .hex	{
		font-family: 'Lato';
		font-size: 0.85em;
		text-align: center;
		visibility: visible;
	}
	
	.label	{
		margin-top: 1em;
	}
	
	.hex	{
		font-weight: 700;
		margin-top: 1em;
	}
	
	.newJatsby	{
		font-family: 'Lobster';
		text-align: center;
		font-size: 1.75em;
		z-index: 999;
		position: relative;
		width: intrinsic;
		padding-left: 0.2em;
		padding-right: 0.2em;
		color: #626262;
	}

}


/*=======================================*/
/*            900 Breakpoint             */
/*=======================================*/
/* 900px- 1200px                         */
/* For tablets in landscape              */
/* iPad, Nexus 7, Nexus 10, Surface Pro  */
/*=======================================*/

@media (min-width: 900px)	{
	
	.header {
		font-size: 6em;
	}
	
	.subheader	{
		font-size: 2em;
	}
	
	.download {
		max-width: 5em;
		font-size: 3.75em;
		margin-top: 2em;
	}

	.size	{
		font-size: 1.75em;
	}
	
	.subtitle	{
		margin-top: 0.5em;
	}
	
	.subtitleLine	{
		width: 15em;
	}
	
	.title	{
		margin-top: 8em;
	}
	
/* With Four Breakpoints */

	.withFourBreakpoints	{
		padding-bottom: 5em;
		margin-bottom:10em;
	}

	.cssLineLimiter	{
		max-width: 45em;
		max-width: 60%;
		display: block;
		margin:0 auto;
		height:100%;
		position: relative;
	}
	
	.cssBreaks	{
		float:left;
		height:3em;
		width:0.5em;
		position: relative;
		height:100%;
		height:2.5em;
		margin-top: -1em;		
	}
	
	.cssBreak1	{
		margin-left: 0;
	}
	
	.cssBreak2	{
		margin-left: 28%;
	}
	
	.cssBreak3	{
		float:right;
		margin-right: 28%;
	}
	
	.cssBreak4	{
		float:right;
	}	


/* And a 2015 Color Palette */
	
	.colorPalette	{
		width:100%;
		height:6em;
		background-color: inherit;
		margin-top: 5em;
		position: relative;
		overflow: hidden;
		overflow: visible;
		padding-left: 2%;
		padding-right: 2%;
		padding: 0;
	}
	
	
/* Classy Fonts */

	.aileron	{
		margin-left: 20%;
	}
	
	.bebasNeue	{
		margin-right: 20%;
	}
	
	.lato	{
		margin-left: 10%;
	}
	
	.lobster	{
		margin-right: 10%;
	}
	
	.mohave	{
		/* Centered */
		margin-left: 45%;
	}
	
	.montserrat	{
		margin-left: 10%;
	}
	
	.simplifica	{
		margin-right: 25%;
	}
	
	.sourceSansPro	{
		margin-left: 22%;
	}
	
/* And Eight Modern Base Colors */

	.colorLogo	{
		position: absolute;
		top:0.1em;
		font-family: 'Lobster';
		right:0.3em;
		font-size: 0.7em;
		color: #e2e2e2;
		color: #737373;
		color: rgba(250, 250, 250, 0.7);
		visibility: visible;
	}
	
	.desertStorm	{
		color: #626262;
	}

	.swatch2 {
		margin-top: -5.5em;
	}

	.label, .hex	{
		font-family: 'Lato';
		font-size: 0.85em;
		text-align: center;
		visibility: visible;
		max-width: 90%;
		font-size: 0.9em;
	}
	
	.label	{
		margin-top: 1em;
		text-align: left;
	}
	
	.hex	{
		font-weight: 700;
		margin-top: 0.5em;
		text-align: left;
	}	
		
	.stormDust	{
		color: #f9f9f9;
	}	
	
	
/* Footer */	
		
	.footer	{
		font-size: 1em;
		text-align: left;
		margin-left: 1em;
	}
	
	.newJatsby	{
		font-family: 'Lobster';
		text-align: center;
		font-size: 2.25em;
		z-index: 999;
		position: relative;
		width: intrinsic;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

}

/*=======================================*/
/*            1025 Breakpoint            */
/*=======================================*/
/* 1201px+                               */
/* For full-size computers               */
/* MacBook Pro, iMac                     */
/*=======================================*/
   
@media (min-width: 1025px)	{
	
	.download	{
		border:0.05em solid #626262;
	}
	
	.download {
		background-color: transparent;
	}
	
	.downloadContainer>.downloadButtonContainer:hover>a>.download	{
		color:white;
	}
	
	.downloadContainer>.downloadButtonContainer:hover>a>.download	{
		background-color: #52D0CD;
		color:white;
		color:#626262;
	}	
	
	.label, .hex	{
		font-size: 0.95em;
	}


}
